.endContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 80px);
    padding: 40px;
}

.emoji {
    min-width: 80px;
    min-height: 80px;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 32px;
}